*{
    box-sizing: border-box;
    color: #f9f9f9;
}
body{
    background-color: #0e0b13;
    color: #f9f9f9;
}
main{
    min-height: calc(100vh - 250px);
    padding: 0 calc(3.5vw + 24px);
    text-align: center;
}
.menu{
    width: 100%;
    position:fixed;
    height:70px;
    font-size: 18px;
    line-height: 26px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 0 36px;
    z-index: 3;
}
.btn-entrar{
    height: 50px;
    padding: 0 20px;
    background-color: #4e4a59;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}
.btn-entrar a{
    text-decoration: none;
    color: white;
}
legend{
    font-family: 'Arial, Helvetica, sans-serif';
    display: none;
}
fieldset{
    border: none;
    margin: 0px 0px 24px;
    padding: 0px;
    position: relative;
}
span{
    position: relative;
    display: block;
}
.logo{
    position: relative;
}
input{
    background-color:#26232a;
    height: 48px;
    margin: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
    width: 100%;
    padding: 7px 12px;
}
.logo > img{
    max-width: 172px;
    height: 104px;
    margin-top: 40px;
}
.btn{
    width: 100%;
    background-image: linear-gradient(82deg,#e1054a 19%,#ce4100);
    border-radius: 0.25rem;
    border: none;
    height: 3rem;
    padding: 0.75rem 1.5rem;
    letter-spacing: 1.5px;
    font-weight: bold;
    line-height: 1.6;
    cursor: pointer;
}
.inicio{
    margin: 0 auto 32px auto;
    max-width: 374px;
    width: 100%;
}
.paragrafo{
    color: #cacaca;
    display: inline-block;
    padding-right: 0.25rem;
    font-size: 15px;
    line-height: 1.53;
}
.direitos{
    background-color: #26232a;
    border-radius: 5px;
    padding: 1px 5px;
}
.politica{
    font-size: 12px;
}
.link{
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    color: #f9f9f9;
}
a{
    color: #67bdff;
}

/*Register-success*/
.principal{
    display: flex;
    width: 100%;
    height: calc(100vh - 16px);
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}
.principal h1, .principal div{
    padding: 0;
    margin: 0;
}