<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='login-style.css') }}">
    <title>Sucesso!</title>
</head>
<body>
    <header>
        <nav class="menu">
            <div class="btn-entrar">
                <a href="/">VOLTAR</a>
            </div>
        </nav>
    </header>
    <main>

        <div class="principal">
            <div>
                <img src="{{ url_for('static', filename='/img/starplus.svg')}}" alt="star plus logo" width="180px">
                <h1>Oops, parece que você já está cadastrado :)</h1>
                <a href="login" class="btn" value="ENTRAR">ENTRAR</a>
            </div>
        </div>
    </main>
</body>
</html>